<a href="https://colab.research.google.com/github/dineshNehete/Data-Science-And-Big_Data-Analytics-Lab/blob/main/Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving income.csv to income.csv

# **Part-1**
1. Provide summary statistics (mean, median, minimum, maximum, standard 
deviation) for a dataset (age, income etc.) with numeric variables grouped by one of the qualitative (categorical) variable
    

*   ***df.groupby(categorical_var)***: This groups the DataFrame df by the values of the categorical_var column. It creates a GroupBy object that represents the grouped data.

*  **['income']**: This specifies the column of interest, 'income', on which the summary statistics will be calculated.

* **.describe()**: This is a method called on the grouped data to generate descriptive statistics for each group. It computes various summary statistics such as count, mean, standard deviation, minimum, quartiles, and maximum.

In [ ]:
import pandas as pd
df = pd.read_csv("income.csv")

In [ ]:
df.describe()

       Unnamed: 0         age         income
count  200.000000  200.000000     200.000000
mean    99.500000   39.370000  499628.450000
std     57.879185   12.455069  280484.818896
min      0.000000   18.000000   38983.000000
25%     49.750000   28.750000  268601.500000
50%     99.500000   40.000000  513547.500000
75%    149.250000   50.000000  739039.750000
max    199.000000   60.000000  991321.000000

In [ ]:
categorical_var = "age"
summary_stats = df.groupby(categorical_var)["income"].describe()
summary_stats

,count,mean,std,min,25%,50%,75%,max
age,,,,,,,,
18,5.0,477407.000000,202888.368354,210523.0,333185.00,548534.0,577483.00,717310.0
19,3.0,195979.000000,215531.255847,53193.0,72017.50,90842.0,267372.00,443902.0
20,5.0,411897.200000,308603.585995,118591.0,208683.00,380320.0,438060.00,913832.0
21,6.0,347505.500000,310050.952382,49726.0,171146.00,312018.5,345178.25,930850.0
22,4.0,539849.000000,372569.744972,45797.0,383678.75,595536.5,751706.75,922526.0
23,8.0,550055.125000,262423.994513,78369.0,425181.75,585227.5,639127.75,988453.0
24,6.0,394776.333333,318967.354310,45193.0,120090.25,419970.5,563904.00,851512.0
25,3.0,778781.333333,46816.335101,724910.0,763365.50,801821.0,805717.00,809613.0
26,3.0,555705.000000,359745.951983,321337.0,348603.00,375869.0,672889.00,969909.0
27,5.0,477751.600000,399217.850955,128383.0,185809.00,256750.0,839708.00,978108.0
28,2.0,568065.500000,51405.955885,531716.0,549890.75,568065.5,586240.25,604415.0
29,2.0,381903.500000,328033.199753,149949.0,265926.25,381903.5,497880.75,613858.0
30,5.0,542082.800000,237185.679160,251448.0,358927.00,554054.0,762230.00,783755.0
31,5.0,668866.000000,132942.962644,520757.0,564202.00,650590.0,785198.00,823583.0
32,5.0,513329.000000,187729.946845,341235.0,347800.00,473290.0,627875.00,776445.0
33,5.0,439547.000000,269427.265646,113683.0,271053.00,383315.0,691930.00,737754.0
34,5.0,385519.600000,258097.686058,180081.0,214114.00,305909.0,408370.00,819124.0
35,4.0,705610.000000,212708.920419,393857.0,677360.75,777693.0,805942.25,873197.0
36,5.0,554757.000000,304925.553023,152283.0,459604.00,520379.0,650198.00,991321.0
37,1.0,368608.000000,NaN,368608.0,368608.00,368608.0,368608.00,368608.0
38,7.0,681571.428571,116982.953385,522546.0,608553.50,688413.0,747597.00,847740.0
39,2.0,896110.000000,1036.618541,895377.0,895743.50,896110.0,896476.50,896843.0
40,5.0,468394.000000,323251.102372,126951.0,274053.00,478437.0,480954.00,981575.0
41,1.0,149086.000000,NaN,149086.0,149086.00,149086.0,149086.00,149086.0
42,6.0,461973.500000,302468.928203,153768.0,291304.25,325017.5,679016.00,890956.0
43,4.0,388547.500000,366603.338720,116031.0,207978.75,254414.0,434982.75,929331.0
44,3.0,499730.333333,379975.848530,104688.0,318299.00,531910.0,697251.50,862593.0
45,10.0,642302.800000,229002.794936,263806.0,470561.00,758399.5,794080.75,897881.0
46,7.0,468918.428571,283909.187651,38983.0,319352.00,504989.0,581604.50,936544.0
47,5.0,529196.000000,187685.963575,261153.0,419968.00,584127.0,657523.00,723209.0
48,4.0,380427.750000,304181.934541,56105.0,262658.75,337281.5,455050.50,791043.0
49,8.0,532821.750000,337573.102105,80955.0,295786.75,535977.0,845743.75,946815.0
50,4.0,593503.500000,131529.754800,421806.0,524801.25,626909.5,695611.75,698389.0
51,7.0,454641.714286,296458.118592,68076.0,213226.50,565809.0,610987.50,900179.0
52,3.0,484725.000000,460853.726713,78410.0,234345.00,390280.0,687882.50,985485.0
53,5.0,613871.400000,394680.013833,184808.0,193698.00,783787.0,915861.00,991203.0
54,6.0,460848.000000,305325.944991,82499.0,259408.25,436315.0,622524.75,924925.0
55,4.0,395030.250000,348030.886599,89180.0,152712.50,314922.5,557240.25,861096.0
56,4.0,658644.750000,308946.847418,286657.0,463414.75,712498.5,907728.50,922925.0
57,8.0,308996.750000,222218.469316,77428.0,123280.50,254501.5,523925.50,577183.0
58,3.0,412015.333333,236580.672352,171855.0,295600.00,419345.0,532095.50,644846.0
59,2.0,343084.500000,351278.628078,94693.0,218888.75,343084.5,467280.25,591476.0
60,5.0,480951.800000,372839.299898,54699.0,116156.00,622818.0,733348.00,877738.0

In [ ]:
a = df.groupby("income")
a.describe()

       Unnamed: 0                                                 age        \
            count   mean std    min    25%    50%    75%    max count  mean
income
38983         1.0   33.0 NaN   33.0   33.0   33.0   33.0   33.0   1.0  46.0
45193         1.0  156.0 NaN  156.0  156.0  156.0  156.0  156.0   1.0  24.0
45797         1.0   13.0 NaN   13.0   13.0   13.0   13.0   13.0   1.0  22.0
49726         1.0    6.0 NaN    6.0    6.0    6.0    6.0    6.0   1.0  21.0
53193         1.0   49.0 NaN   49.0   49.0   49.0   49.0   49.0   1.0  19.0
...           ...    ...  ..    ...    ...    ...    ...    ...   ...   ...
981575        1.0  115.0 NaN  115.0  115.0  115.0  115.0  115.0   1.0  40.0
985485        1.0  141.0 NaN  141.0  141.0  141.0  141.0  141.0   1.0  52.0
988453        1.0    4.0 NaN    4.0    4.0    4.0    4.0    4.0   1.0  23.0
991203        1.0   64.0 NaN   64.0   64.0   64.0   64.0   64.0   1.0  53.0
991321        1.0  117.0 NaN  117.0  117.0  117.0  117.0  117.0   1.0  36.0


       std   min   25%   50%   75%   max
income
38983  NaN  46.0  46.0  46.0  46.0  46.0
45193  NaN  24.0  24.0  24.0  24.0  24.0
45797  NaN  22.0  22.0  22.0  22.0  22.0
49726  NaN  21.0  21.0  21.0  21.0  21.0
53193  NaN  19.0  19.0  19.0  19.0  19.0
...     ..   ...   ...   ...   ...   ...
981575 NaN  40.0  40.0  40.0  40.0  40.0
985485 NaN  52.0  52.0  52.0  52.0  52.0
988453 NaN  23.0  23.0  23.0  23.0  23.0
991203 NaN  53.0  53.0  53.0  53.0  53.0
991321 NaN  36.0  36.0  36.0  36.0  36.0

[200 rows x 16 columns]

# Part-2
Write a Python program to display some basic statistical details like percentile, mean,
standard deviation etc. of the species of Iris-setosa, Iris-versicolor and Iris-virginica of iris.csv dataset.

In [ ]:
from google.colab import files
uploaded2 = files.upload()

Saving Iris.csv to Iris.csv

In [ ]:
iris = pd.read_csv("Iris.csv")
iris

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [ ]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
iris.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [ ]:
iris["Species"].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [ ]:
setosa_df = iris[iris["Species"] == "Iris-setosa"]
virginica_df = iris[iris["Species"] == "Iris-virginica"]
versicolor_df = iris[iris["Species"] == "Iris-versicolor"]

In [ ]:
print(setosa_df.describe())
print(virginica_df.describe())
print(versicolor_df.describe())

             Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  50.00000       50.00000     50.000000      50.000000      50.00000
mean   25.50000        5.00600      3.418000       1.464000       0.24400
std    14.57738        0.35249      0.381024       0.173511       0.10721
min     1.00000        4.30000      2.300000       1.000000       0.10000
25%    13.25000        4.80000      3.125000       1.400000       0.20000
50%    25.50000        5.00000      3.400000       1.500000       0.20000
75%    37.75000        5.20000      3.675000       1.575000       0.30000
max    50.00000        5.80000      4.400000       1.900000       0.60000
              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   50.00000       50.00000     50.000000      50.000000      50.00000
mean   125.50000        6.58800      2.974000       5.552000       2.02600
std     14.57738        0.63588      0.322497       0.551895       0.27465
min    101.00000        4.90000      2.200000       4.500000       1.40000
25%    113.25000        6.22500      2.800000       5.100000       1.80000
50%    125.50000        6.50000      3.000000       5.550000       2.00000
75%    137.75000        6.90000      3.175000       5.875000       2.30000
max    150.00000        7.90000      3.800000       6.900000       2.50000
              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   50.00000      50.000000     50.000000      50.000000     50.000000
mean    75.50000       5.936000      2.770000       4.260000      1.326000
std     14.57738       0.516171      0.313798       0.469911      0.197753
min     51.00000       4.900000      2.000000       3.000000      1.000000
25%     63.25000       5.600000      2.525000       4.000000      1.200000
50%     75.50000       5.900000      2.800000       4.350000      1.300000
75%     87.75000       6.300000      3.000000       4.600000      1.500000
max    100.00000       7.000000      3.400000       5.100000      1.800000

In [ ]:
categorical_var_iris = "Species"
summary_stats_iris = iris.groupby(categorical_var_iris).describe()
summary_stats_iris

                   Id                                                        \
                count   mean       std    min     25%    50%     75%    max
Species
Iris-setosa      50.0   25.5  14.57738    1.0   13.25   25.5   37.75   50.0
Iris-versicolor  50.0   75.5  14.57738   51.0   63.25   75.5   87.75  100.0
Iris-virginica   50.0  125.5  14.57738  101.0  113.25  125.5  137.75  150.0

                SepalLengthCm         ... PetalLengthCm      PetalWidthCm  \
                        count   mean  ...           75%  max        count
Species                               ...
Iris-setosa              50.0  5.006  ...         1.575  1.9         50.0
Iris-versicolor          50.0  5.936  ...         4.600  5.1         50.0
Iris-virginica           50.0  6.588  ...         5.875  6.9         50.0


                  mean       std  min  25%  50%  75%  max
Species
Iris-setosa      0.244  0.107210  0.1  0.2  0.2  0.3  0.6
Iris-versicolor  1.326  0.197753  1.0  1.2  1.3  1.5  1.8
Iris-virginica   2.026  0.274650  1.4  1.8  2.0  2.3  2.5

[3 rows x 40 columns]

#Theory


1.   Categorical Variables:
> Categorical variables are qualitative variables that represent different categories or groups.
> Examples of categorical variables could be any variable that represents distinct categories.

2.   Numeric Variables:
> Numeric variables are quantitative variables that represent numerical values or quantities.
>Examples of numeric variables in the given dataset could be age, income, or any other variable that represents numeric values.

3.  Measures of Central Tendency:
>Measures of central tendency are statistical measures that represent the center or typical value of a dataset. They provide information about the central or average value around which the data points are clustered.
> * Mean:
>>The mean is calculated as the sum of all the values in a dataset divided by the number of observations.
It represents the average value of the dataset.
The mean is sensitive to extreme values or outliers.
> *Median:
>>The median is the middle value in a dataset when it is arranged in ascending or descending order.
It divides the dataset into two equal halves.
The median is less affected by extreme values or outliers compared to the mean.
>*Mode:
>>The mode is the value that appears most frequently in a dataset.
A dataset can have one mode (unimodal) or multiple modes (multimodal) if multiple values have the same highest frequency.
The mode can be used for both categorical and numerical data.

4.  Measures of Variability:
>Measures of variability describe the spread or dispersion of data points in a dataset.
> * Standard Deviation:
>>he standard deviation measures the average deviation of data points from the mean. It provides information about how tightly or loosely the data is clustered around the mean.
> *Range:
>> The range is the difference between the maximum and minimum values in a dataset. It gives an idea of the total spread of the data.
>*Interquartile Range (IQR):
>>The IQR is the range between the first quartile (25th percentile) and the third quartile (75th percentile). It represents the spread of the middle 50% of the data.

5. What do you mean by quartile?
> Quartiles divide a dataset into four equal parts, each containing 25% of the data.
> The first quartile, denoted as Q1, is the value below which 25% of the data falls.
> The second quartile, denoted as Q2, is the same as the median and represents the value below which 50% of the data falls.
> The third quartile, denoted as Q3, is the value below which 75% of the data falls.

# Viva Questions and Answers


---


#### 1. What is the purpose of calculating summary statistics for a dataset?
>Summary statistics provide a concise summary of the main characteristics of a dataset, such as measures of central tendency and variability. They help in understanding the distribution and properties of the data, making comparisons between groups, identifying outliers, and gaining insights for further analysis.


---


#### 2. Define the concept of a categorical variable and provide an example from the given dataset.
>A categorical variable is a variable that represents distinct categories or groups. It can take on a limited number of values that belong to a specific category. In the given dataset, the age groups can be considered a categorical variable. For example, if the age groups are "20-30," "30-40," "40-50," etc., each observation falls into one of these mutually exclusive categories.


---


#### 3. Explain the difference between numeric variables and categorical variables.


>Numeric variables represent numerical values or quantities and can be used for mathematical calculations. Examples in the dataset include age and income. On the other hand, categorical variables represent distinct categories or groups and can take on a limited number of values. Age groups in the dataset are an example of a categorical variable.

---

#### 4. What are measures of central tendency? Provide examples of measures of central tendency.
>Measures of central tendency are statistical measures that represent the center or typical value of a dataset. They include the mean, median, and mode. The mean is the average value, the median is the middle value, and the mode is the most frequently occurring value.

---

#### 5. How do you calculate the mean of a dataset? What is the significance of the mean?
>The mean is calculated by summing all the values in a dataset and dividing the sum by the total number of observations. It represents the average value of the dataset. The significance of the mean is that it provides a measure of the central tendency and helps in understanding the average value of the variable.

---

#### 6. Define the median and explain when it is a better measure of central tendency than the mean.
>The median is the middle value in a dataset when it is arranged in ascending or descending order. It divides the dataset into two equal halves. The median is a better measure of central tendency than the mean when the dataset has extreme values or outliers. It is less affected by extreme values and provides a more robust representation of the typical value.

---

#### 7. What is the mode of a dataset and in what situations is it useful?
>The mode of a dataset is the value that appears most frequently. It is useful when you want to identify the most common value or category in a dataset. The mode is particularly helpful for categorical variables, but it can also be used for numeric variables.

---

#### 8. Describe the concept of variability in a dataset.
>Variability in a dataset refers to the spread or dispersion of the data points. It provides information about how the data is spread out from the central tendency measures. Measures of variability include the range, standard deviation, and interquartile range.

---

#### 9. What is the standard deviation and what does it represent in terms of data dispersion?
>The standard deviation is a measure of the average deviation of data points from the mean. It quantifies the spread or dispersion of the data. A higher standard deviation indicates greater variability or dispersion of data points from the mean.

---

#### 10. What is the range of a dataset and how is it calculated?
>The range of a dataset is the difference between the maximum and minimum values. It provides an estimate of the total spread of the data. The range is calculated by subtracting the minimum value from the maximum value.

---

#### 11. Explain the interquartile range (IQR) and its importance in understanding data variability.
>The interquartile range (IQR) is a measure of statistical dispersion that represents the spread of the middle 50% of the data. It is calculated as the difference between the third quartile (Q3) and the first quartile (Q1). The IQR is less affected by extreme values or outliers, making it a robust measure of data variability.

---

#### 12. How would you group a dataset based on a categorical variable using pandas?
>To group a dataset based on a categorical variable using pandas, you can use the `groupby()` function. You specify the categorical variable as the argument to `groupby()`. For example, to group the dataset by age groups, you can use `df.groupby('age_group')`.

---

#### 13. Describe the process of calculating summary statistics for a numeric variable grouped by a categorical variable.
>To calculate summary statistics for a numeric variable grouped by a categorical variable using pandas, you can use the `groupby()` function followed by the desired summary function. For example, to calculate the mean income for each age group, you can use `df.groupby('age_group')['income'].mean()`.

---

####14. How can summary statistics be used to gain insights and make comparisons between different groups in the dataset?
>Summary statistics provide numerical values that summarize the characteristics of different groups in a dataset. They can be used to compare the central tendency and variability between groups, identify patterns or trends, and draw meaningful insights from the data. Summary statistics enable researchers to make data-driven decisions and understand the differences or similarities between various groups.

---

#### 15. Discuss the advantages and limitations of using summary statistics to analyze a dataset.
>Advantages of using summary statistics include providing a concise overview of the dataset, enabling comparisons between different groups, and facilitating data-driven decision-making. Summary statistics are easy to understand and interpret. However, limitations include the fact that they provide a simplified representation of the data, may not capture the full complexity of the dataset, and can be influenced by outliers or extreme values.

---